html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css')
        if title
            title #{title} Website
        else
            title Unknown Website
    body
        div.container
            nav
                div.nav-wrapper.teal.lighten-1
                    a.brand-logo(href='/' style="padding-left:10px") Lahoot.it
                        ul#nav-mobile.right.hide-on-med-and-down
                            li
                                a(href='/') Home
                            li
                                a(href='/games') Games
                            li
                                a(href='/register') Login/Signup
        block content

        div.container
            hr
            p(class="teal-text text-darken-5 center") Copyright &copy; Registered &reg;