html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css')
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
        link(rel="stylesheet", href="/css/main.css")
        link(rel="shortcut icon", href="/images/favicon.ico", type="image/x-icon")
        if title
            title #{title}
        else
            title Unknown Website
    body
        div.container
            nav
                div.nav-wrapper.teal.lighten-1
                    a.brand-logo(href='/' style="padding-left:10px") Lahoot.it
                    ul#nav-mobile.right.hide-on-med-and-down
                        li
                            form
                                .input-field
                                    input#search(type='search' required='')
                                    label.label-icon(for='search')
                                        i.material-icons search
                                    i.material-icons close
                        li
                            a(href='/').waves-effect.waves-light Home
                        li
                            a(href='/games').waves-effect.waves-light Games
                        li
                            a(href='/register').waves-effect.waves-light Login/Signup
            block content

        section.container
            hr(style="margin-top:1rem")
            p(class="teal-text text-darken-5 center" style="margin:2rem") Copyright &copy; Registered &reg;

        script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js")
        script(src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous")
        script(src="/js/main.js")